.searchBar  {
    font-size: 100%;
    font-weight: bold;
    color: whitesmoke;
    background: darkslategray;
    outline: none;
    padding: 10px;
    width: 25vw;
    height: 3vh;
}

.searchButton   {
    font-size: 154%;
    background: chocolate;
    margin: 10px; 
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}

.searchButton:hover {
    background: #0b7dda;
}