.trackBox {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    background: whitesmoke;
}
  
.react-player {
    margin: 24px 12px 0 12px;
    flex: 0;
    flex-flow: wrap;
    word-wrap: break-word;
}