.tracks {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    background: #00095c;
}

.track-1 {
    width: 45%;
    border: outset 10px #949994;
    margin: 20px;
}
/* 
.track-2 {
    width: 45%;
}

.track-3 {
    width: 45%;
}

.track-4 {
    width: 45%;
} */