.tracks {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.track-1 {
    width: 45%;
}

.track-2 {
    width: 45%;
}

.track-3 {
    width: 45%;
}

.track-4 {
    width: 45%;
}